<!doctype html>
<meta charset="utf-8" />
<title>:wallets:</title>
<style>
  body, html {
    padding: 0;
    margin: 0;
    background-color: '#eee';
    font: 12px/1.5em 'Trebuchet MS', Trebuchet, sans-serif
  }
</style>
<!--
  DO NOT REMOVE THIS SECTION - this is the container for your app
  You can change its content or add arguments, but do touch its id
-->
<section id="reactors">Wallets</section>


<!-- DO NOT CHANGE THIS PART -->
<script>
  require('./{{{DESKTOP_DEV_RENDERER_FILE}}}');
  require('./{{{DESKTOP_RENDERER_FILE}}}');
</script>
<!-- END DO NOT CHANGE THIS PART -->
